body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #73d8d3;
}

.Message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  padding: 10px;
  border-radius: 25%
}

#winmsg {

display: flex;
flex-direction: column;
align-items: center;

}

.background {
  background: grey;
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.pit {
  background: darkgrey;
}

.enemy1 {
  background: red;
  border-radius: 100%
}

.enemy2 {
  background: red;
  border-radius: 100%
}

.enemy3 {
  background: red;
  border-radius: 100%
}

.oppositeEnemy1 {
  background: purple;
  border-radius: 100%
}

.oppositeEnemy2 {
  background: purple;
  border-radius: 100%
}

.oppositeEnemy3 {
  background: purple;
  border-radius: 100%
}

.wall {
  background: black;
}

.actor {
  position: absolute;
}

.exit {
  background: green;
}

.player {
  background: blue;
  border-radius: 100%;
}

.clone {
  background: blue;
  border-radius: 100%
}

.game {
  overflow: hidden;
  position: relative;
}

.win {
  font-size: 100px;
  padding: 0;
  margin: 0;
  border: thin;
}
